<%=render"shared/login_form_from"%>
<h2>最新ニュース</h2>
<ul>
<%5.times do | i |%>
  <li><%=link_to"ニュース の 見出し", "#"%></li>
  <%end%>
  </ul>
  <h2>会員のブログ</h2>
  <ul>
  <%5.times do | i |%>
  <li><%=link_to "ブログ の 見出し", "#"%></li>
  <%end%>
  </ul>